<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="dtmcEvolutionManager"
         point="de.uni_stuttgart.iste.cowolf.evolution.EvolutionManagerExtension">
      <EvolutionManager
            class="de.uni_stuttgart.iste.cowolf.evolution.dtmc.DTMCEvolutionManager">
      </EvolutionManager>
   </extension>

</plugin>
