<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uni_stuttgart.iste.cowolf.transformationRuleExtension">
      <direction
            key="faulttree_ctmc">
      </direction>
      <henshinMapping
            file="rules/FaultTree_CTMC_switchGates.henshin"
            main="switchGatesToEvents">
      </henshinMapping>
      <henshinMapping
            file="rules/FaultTree_CTMC_PAND.henshin"
            main="mainUnit">
      </henshinMapping>
      <henshinMapping
            file="rules/FaultTree_CTMC_AND.henshin"
            main="mainUnit">
      </henshinMapping>
      <henshinMapping
            file="rules/FaultTree_CTMC_OR_Change.henshin"
            main="mainUnit">
      </henshinMapping>
      <henshinMapping
            file="rules/FaultTree_CTMC_OR.henshin"
            main="mainUnit">
      </henshinMapping>
      <henshinMapping
            file="rules/FaultTree_CTMC_OR_Deletion.henshin"
            main="mainUnit">
      </henshinMapping>
      <henshinMapping
            file="rules/FaultTree_CTMC_Copy.henshin"
            main="mainUnit">
      </henshinMapping>
      <henshinMapping
            file="rules/FaultTree_CTMC_Change.henshin"
            main="mainUnit">
      </henshinMapping>
   </extension>

</plugin>
