<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uni_stuttgart.iste.cowolf.transformationRuleExtension">
      <direction
            key="faulttree_ctmc">
      </direction>
      <henshinMapping
            file="rules/FaultTree_CTMC_Pattern3.henshin"
            key="faulttree_ctmc"
            main="mainUnit">
      </henshinMapping>
      <henshinMapping
            file="rules/FaultTree_CTMC_Pattern3_del.henshin"
            main="mainUnit">
      </henshinMapping>
      <henshinMapping
            file="rules/FaultTree_CTMC_OR.henshin"
            main="mainUnit">
      </henshinMapping>
   </extension>

</plugin>
