<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.uni_stuttgart.iste.cowolf.ui.navigator.category"
            name="%category.name.0"/>
      <view
            allowMultiple="false"
            category="de.uni_stuttgart.iste.cowolf.ui.navigator.category"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="de.uni_stuttgart.iste.cowolf.ui.navigator.view"
            name="%view.name.0"/>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="de.uni_stuttgart.iste.cowolf.ui.navigator.view">
         <includes>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/> 
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="de.uni_stuttgart.iste.cowolf.ui.navigator.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="de.uni_stuttgart.iste.cowolf.ui.navigator.decorator.folders">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="de.uni_stuttgart.iste.cowolf.ui.navigator.view">
         <includes>
            <actionExtension pattern="org.eclipse.ui.navigator.resources.*"/>
         </includes>
      </viewerActionBinding>
      <viewer
            viewerId="de.uni_stuttgart.iste.cowolf.ui.navigator.view">
         <popupMenu
               id="de.uni_stuttgart.iste.cowolf.ui.navigator.view#PopupMenu">
            <insertionPoint
                  name="group.new"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.openWith"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.reorganize"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.port"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.build"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.generate"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.search"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.additions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            id="de.uni_stuttgart.iste.cowolf.ui.navigator.filters.onlyCowolf"
            name="%commonFilter.name">
         <filterExpression>
            <and>
               <not>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="de.uni_stuttgart.iste.cowolf.ui.projectNature">
                     </test>
                  </adapt>
               </not>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </and>
         </filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.uni_stuttgart.iste.cowolf.ui.navigator.handlers.evolve"
            commandId="de.uni_stuttgart.iste.cowolf.ui.navigator.commands.evolve">
      </handler>
      <handler
            class="de.uni_stuttgart.iste.cowolf.ui.navigator.handlers.CoEvolve"
            commandId="de.uni_stuttgart.iste.cowolf.ui.navigator.commands.co-evolve">
      </handler>
      <handler
            class="de.uni_stuttgart.iste.cowolf.ui.navigator.handlers.Analyze"
            commandId="de.uni_stuttgart.iste.cowolf.ui.navigator.commands.analyze">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uni_stuttgart.iste.cowolf.ui.navigator.view#PopupMenu?before=additions">
         <menu
               label="%menu.label">
            <command
                  commandId="de.uni_stuttgart.iste.cowolf.ui.navigator.commands.evolve"
                  label="%evolve.label"
                  style="push">
            </command>
            <command
                  commandId="de.uni_stuttgart.iste.cowolf.ui.navigator.commands.co-evolve"
                  label="%coevolve.label"
                  style="push">
            </command>
            <command
                  commandId="de.uni_stuttgart.iste.cowolf.ui.navigator.commands.analyze"
                  label="%analyze.label"
                  style="push">
            </command>
            <separator
                  name="de.uni_stuttgart.iste.cowolf.ui.navigator.separator"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="de.uni_stuttgart.iste.cowolf.ui.navigator.commands"
         name="%extension.name"
         point="org.eclipse.ui.commands">
      <command
            id="de.uni_stuttgart.iste.cowolf.ui.navigator.commands.evolve"
            name="%command.evolve.name">
      </command>
      <command
            id="de.uni_stuttgart.iste.cowolf.ui.navigator.commands.co-evolve"
            name="%command.coevolve.name">
      </command>
      <command
            id="de.uni_stuttgart.iste.cowolf.ui.navigator.commands.analyze"
            name="%command.analyze.name">
      </command>
   </extension> 
</plugin>
