<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- Phase 1 -->
   <!-- Declare the view part to hold the default implementation --> 
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.uni_stuttgart.iste.cowolf.ui.navigator.category"
            name="CoWolf"/>
      <view
            allowMultiple="false"
            category="de.uni_stuttgart.iste.cowolf.ui.navigator.category"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="de.uni_stuttgart.iste.cowolf.ui.navigator.view"
            name="CoWolf View"/>
   </extension>
   
   <!-- Declare the viewer configuration, and the default content/action bindings -->
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="de.uni_stuttgart.iste.cowolf.ui.navigator.view">
         <includes>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/> 
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="de.uni_stuttgart.iste.cowolf.ui.navigator.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="de.uni_stuttgart.iste.cowolf.ui.navigator.decorator.folders">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="de.uni_stuttgart.iste.cowolf.ui.navigator.view">
         <includes>
            <actionExtension pattern="org.eclipse.ui.navigator.resources.*"/>
         </includes>
      </viewerActionBinding>
   </extension>
   
   <!-- Declare a simple filter example that uses core expressions -->
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            id="de.uni_stuttgart.iste.cowolf.ui.navigator.filters.onlyCowolf"
            name="Hide non-Cowolf projects">
         <filterExpression>
            <and>
               <not>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="de.uni_stuttgart.iste.cowolf.ui.projectNature">
                     </test>
                  </adapt>
               </not>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </and>
         </filterExpression>
      </commonFilter>
   </extension>
  
  <!-- Phase 2 -->
  <!-- Declare a content extension that renders the contents of a properties file -->
   <!-- Bind the Properties content extension to the viewer -->
  
</plugin>
