<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="statechartEvolutionManager"
         point="de.uni_stuttgart.iste.cowolf.evolution.evolutionManagerExtension">
      <evolutionManager
            class="de.uni_stuttgart.iste.cowolf.evolution.statechart.StatechartEvolutionManager">
      </evolutionManager>
   </extension>

</plugin>
