<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sequence -->
      <package
            uri="http://sequence/1.0"
            class="sequence.SequencePackage"
            genModel="model/sequence.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sequence -->
      <package
            uri="http://CommonBase/1.0"
            class="commonBase.CommonBasePackage"
            genModel="model/sequence.genmodel"/>
   </extension>

</plugin>
