<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sequence -->
      <package
            uri="sequence"
            class="sequence.SequencePackage"
            genModel="models/sequence.genmodel"/>
   </extension>

</plugin>
