<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sequence -->
      <package uri="http://SequenceDiagram/1.0" class="de.uni_stuttgart.iste.cowolf.model.sequence_diagram.Sequence_diagramPackage" genModel="model/Sequence_diagram.genmodel"></package>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Sequence_diagram -->
      <parser
            type="sequence_diagram"
            class="de.uni_stuttgart.iste.cowolf.model.sequence_diagram.util.Sequence_diagramResourceFactoryImpl"/>
   </extension>

</plugin>