<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated activity_diagram -->
      <package
            uri="http://ActivityDiagram/1.0"
            class="de.uni_stuttgart.iste.cowolf.model.activity_diagram.Activity_diagramPackage"
            genModel="model/activity_diagram.genmodel"/>
   </extension>
   <extension
         id="activityModelManager"
         point="de.uni_stuttgart.iste.cowolf.model.architectureModelManagerExtension">
      <architectureModelManager
            class="de.uni_stuttgart.iste.cowolf.model.activity_diagram.ActivityModelManager">
      </architectureModelManager>
   </extension>

</plugin>
