<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uni_stuttgart.iste.cowolf.transformationMappingExtension">
      <xmlMapping
            file="mapping/faulttreectmcmapping.transmap"
            key="faulttree_ctmc">
      </xmlMapping>
   </extension>
   <extension
         point="de.uni_stuttgart.iste.cowolf.transformationMappingExtension">
      <xmlMapping
            file="mapping/cmtcfaulttreemapping.transmap"
            key="ctmc_faulttree">
      </xmlMapping>
   </extension>

</plugin>
