<!-- 

Copyright 2014, CoWolf Team, ISTE University of Stuttgart 

This logback configuration logs all levels (from TRACE to ERROR). 
The logged entries will be directly printed to console. 

-->

<!-- scanning for file changes disabled -->
<configuration>

	<!-- uncomment to show logback status information -->
	<!-- <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" 
		/> -->		

	<root level="TRACE">
		<appender-ref ref="CONSOLE-ALL" />
		<!-- uncomment to enable file logging -->
		<!-- <appender-ref ref="FILE-ALL" /> 
		<appender-ref ref="FILE-WARNING" /> 
		<appender-ref ref="FILE-ERROR" /> -->
		<!-- uncomment to use socket appender, e.g. to use Lilith event viewer tool -->
		<!-- <appender-ref ref="SOCKET-ALL" /> -->
	</root>

	<!-- file appender for console log -->
	<appender name="CONSOLE-ALL" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-13date{HH:mm:ss.SSS} %-6level %-46(%logger{40}:%line)
				%msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- file appender for complete log -->
	<appender name="FILE-ALL"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%-24date %-6level %-46(%logger{40}:%line) %msg%n
			</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- weekly rollover -->
			<fileNamePattern>logs/%d{yyyy-'W'ww}_all.log</fileNamePattern>
			<!-- keep logs for 12 weeks -->
			<maxHistory>12</maxHistory>
		</rollingPolicy>
	</appender>

	<!-- file appender for warning and error log -->
	<appender name="FILE-WARNING-AND-ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%-24date %-6level %-46(%logger{40}:%line) %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- weekly rollover -->
			<fileNamePattern>logs/%d{yyyy-'W'ww}_warning+error.log
			</fileNamePattern>
			<!-- keep logs for 12 weeks -->
			<maxHistory>12</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="SOCKET-ALL" class="ch.qos.logback.classic.net.SocketAppender">
		<remoteHost>localhost</remoteHost>
		<port>4560</port>
		<reconnectionDelay>170</reconnectionDelay>
		<includeCallerData>true</includeCallerData>
	</appender>


</configuration>