<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated activity -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_stuttgart.iste.cowolf.model.activity.emf.presentation.ActivityModelWizardID"
            name="%_UI_ActivityModelWizard_label"
            class="de.uni_stuttgart.iste.cowolf.model.activity.emf.presentation.ActivityModelWizardExtension"
            category="de.uni_stuttgart.iste.cowolf.ui.category.wizards.main/de.uni_stuttgart.iste.cowolf.ui.category.wizards.models"
            icon="icons/full/obj16/ActivityModelFile.gif">
         <description>%_UI_ActivityModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated activity -->
      <editor
            id="de.uni_stuttgart.iste.cowolf.model.activity.emf.presentation.ActivityEditorID"
            name="%_UI_ActivityEditor_label"
            icon="icons/full/obj16/ActivityModelFile.gif"
            extensions="activity"
            class="de.uni_stuttgart.iste.cowolf.model.activity.emf.presentation.ActivityEditor"
            contributorClass="de.uni_stuttgart.iste.cowolf.model.activity.emf.presentation.ActivityActionBarContributor">
      </editor>
   </extension>

</plugin>
