<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="de.uni_stuttgart.iste.cowolf.product"
            description="CoWolf is an extensible Eclipse plug-in that enables the evolution, co-evolution and analysis of EMF models."
            name="CoWolf">
      </product>
   </extension>
   <extension
         id="cowolf"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="CoWolf">
         <property
               name="appName"
               value="CoWolf">
         </property>
      </product>
   </extension>

</plugin>
