<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="CoWolf" description="CoWolf is an extensible Eclipse plug-in for the evolution, co-evolution and analysis (certification) of EMF models."/>
   </extension>
</plugin>
