<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.difference.technical.technical_difference_builder_extension">
         <technical difference_builder="de.uni_stuttgart.iste.cowolf.evolution.statechart.difference.technical.TechnicalDifferenceBuilderStatechart"/>
   </extension>

</plugin>
