<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated LQN -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_stuttgart.iste.cowolf.model.LqnCore.emf.presentation.LQNModelWizardID"
            name="%_UI_LQNModelWizard_label"
            class="de.uni_stuttgart.iste.cowolf.model.LqnCore.emf.presentation.LQNModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LQNModelFile.gif">
         <description>%_UI_LQNModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated LQN -->
      <editor
            id="de.uni_stuttgart.iste.cowolf.model.LqnCore.emf.presentation.LQNEditorID"
            name="%_UI_LQNEditor_label"
            icon="icons/full/obj16/LQNModelFile.gif"
            extensions="lqn"
            class="de.uni_stuttgart.iste.cowolf.model.LqnCore.emf.presentation.LQNEditor"
            contributorClass="de.uni_stuttgart.iste.cowolf.model.LqnCore.emf.presentation.LQNActionBarContributor">
      </editor>
   </extension>

</plugin>
