<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

<extension
         id="CTMCModelManager"
         point="de.uni_stuttgart.iste.cowolf.model.qosModelManagerExtension">
      <qosModelManager
            class="de.uni_stuttgart.iste.cowolf.model.ctmc.CTMCModelManager">
      </qosModelManager>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CTMCemf -->
      <package
            uri="http://ctmc/1.0"
            class="de.uni_stuttgart.iste.cowolf.model.ctmc.CtmcPackage"
            genModel="model/CTMC.genmodel"/>
   </extension>

</plugin>

