<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="de.uni_stuttgart.iste.cowolf.model.lqn.sirius.editor.Activator"
               id="de.uni_stuttgart.iste.cowolf.model.lqn.sirius.editor"
	       name="lqn">
    </component>
  </extension>
</plugin>
