<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="de.uni_stuttgart.iste.cowolf.core.utilities.CommandLineExecutor" name="de.uni_stuttgart.iste.cowolf.core.utilities.CommandLineExecutor" schema="schema/CommandLineExecutor.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModelAssociation -->
      <package
            uri="http://cowolf.model_association/"
            class="de.uni_stuttgart.iste.cowolf.core.ModelAssociation.ModelAssociationPackage"
            genModel="model/ModelAssociation.genmodel"/>
   </extension>

</plugin>
