<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--The recognitionrules are generated manualy. The silift build command is deaktivated in the .project file.-->

<plugin>

   <extension
         point="org.sidiff.difference.rulebase.rulebase_extension">
      <rulebase
            rulebase="de.uni_stuttgart.iste.cowolf.evolution.sequence_diagram.editrules.ProjectRuleBase">
      </rulebase>
   </extension>

</plugin>
