<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="CoWolf" description="CoWolf is an extensible Eclipse plug-in for the evolution, co-evolution and analysis (certification) of EMF models.">
         <property
               name="appName"
               value="CoWolf">
         </property>
         <property
               name="aboutImage"
               value="images/about_left.png">
         </property>
         <property
               name="startupProgressRect"
               value="12,275,526,10">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="15,252,523,15">
         </property>
         <property
               name="aboutText"
               value="CoWolf&#x0D;&#x0A;Version: 1.00&#x0D;&#x0A;&#x0D;&#x0A;http://devprojectss2014.github.io/CoWolf&#x0D;&#x0A;&#x0D;&#x0A;Copyright (c) 2014 CoWolf contributors. All rights reserved. &#x0D;&#x0A;This program and the accompanying materials are made available under the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at http://www.eclipse.org/legal/epl-v10.html.&#x0D;&#x0A;&#x0D;&#x0A;*** Contributors ***&#x0D;&#x0A;Christian Karl Bernasko, Manuel Borja, Verena Käfer, David Krauss, Michael Müller, Philipp Niethammer, Tim Sanwald, Jonas Scheurich, David Steinhart, Rene Trefft, Johannes Wolf, Michael Zimmermann">
         </property>
         <property
               name="windowImages"
               value="images/logo_wulf_16x16.png,images/logo_wulf_32x32.png,images/logo_wulf_48x48.png,images/logo_wulf_64x64.png,images/logo_wulf_128x128.png,images/logo_wulf_256x256.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
</plugin>
