<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated statemachine -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_stuttgart.iste.cowolf.model.statechart.presentation.StatemachineModelWizardID"
            name="%_UI_StatemachineModelWizard_label"
            class="de.uni_stuttgart.iste.cowolf.model.statechart.presentation.StatemachineModelWizard"
            category="de.uni_stuttgart.iste.cowolf.ui.category.wizards.main/de.uni_stuttgart.iste.cowolf.ui.category.wizards.models" 
            icon="icons/full/obj16/StatemachineModelFile.gif">
         <description>%_UI_StatemachineModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated statemachine -->
      <editor
            id="de.uni_stuttgart.iste.cowolf.model.statechart.presentation.StatemachineEditorID"
            name="%_UI_StatemachineEditor_label"
            icon="icons/full/obj16/StatemachineModelFile.gif"
            extensions="statemachine"
            class="de.uni_stuttgart.iste.cowolf.model.statechart.presentation.StatemachineEditor"
            contributorClass="de.uni_stuttgart.iste.cowolf.model.statechart.presentation.StatemachineActionBarContributor">
      </editor>
   </extension>

</plugin>
