<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated NOT statechart -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_stuttgart.iste.cowolf.model.statechart.emf.presentation.statechartemfModelWizardID"
            name="%_UI_statechartemfModelWizard_label"
            class="de.uni_stuttgart.iste.cowolf.model.statechart.emf.presentation.StatechartemfModelWizardExtension"
            category="de.uni_stuttgart.iste.cowolf.ui.category.wizards.main/de.uni_stuttgart.iste.cowolf.ui.category.wizards.models"
            icon="icons/full/obj16/statechartemfModelFile.gif">
         <description>%_UI_statechartemfModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated statechart -->
      <editor
            id="de.uni_stuttgart.iste.cowolf.model.statechart.emf.presentation.statechartemfEditorID"
            name="%_UI_statechartemfEditor_label"
            icon="icons/full/obj16/statechartemfModelFile.gif"
            extensions="statechartemf"
            class="de.uni_stuttgart.iste.cowolf.model.statechart.emf.presentation.statechartemfEditor"
            contributorClass="de.uni_stuttgart.iste.cowolf.model.statechart.emf.presentation.statechartemfActionBarContributor">
      </editor>
   </extension>

</plugin>
