<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated NOT component_diagram -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_stuttgart.iste.cowolf.model.component_diagram.emf.presentation.Component_diagramModelWizardID"
            name="%_UI_Component_diagramModelWizard_label"
            class="de.uni_stuttgart.iste.cowolf.model.component_diagram.emf.presentation.Component_diagramModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Component_diagramModelFile.gif">
         <description>%_UI_Component_diagramModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated component_diagram -->
      <editor
            id="de.uni_stuttgart.iste.cowolf.model.component_diagram.emf.presentation.Component_diagramEditorID"
            name="%_UI_Component_diagramEditor_label"
            icon="icons/full/obj16/Component_diagramModelFile.gif"
            extensions="component_diagram"
            class="de.uni_stuttgart.iste.cowolf.model.component_diagram.emf.presentation.Component_diagramEditor"
            contributorClass="de.uni_stuttgart.iste.cowolf.model.component_diagram.emf.presentation.Component_diagramActionBarContributor">
      </editor>
   </extension>

</plugin>
