<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
<!-- here you have to include your new model wizard. Be careful. Please register ist under the cowolf category-->
   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="Your ID"
            name="Name"
            class="Your class"
            category="de.uni_stuttgart.iste.cowolf.ui.category.wizards.main/de.uni_stuttgart.iste.cowolf.ui.category.wizards.models"
            icon="Your icon">
         <description>Your description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
-->

</plugin>
