<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         id="ComponentDiagramModelManager"
         point="de.uni_stuttgart.iste.cowolf.model.architectureModelManagerExtension">
      <architectureModelManager
            class="de.uni_stuttgart.iste.cowolf.model.component_diagram.ComponentDiagramModelManageer">
      </architectureModelManager>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated componet_diagram -->
      <package
            uri="http://ComponentDiagram/1.0"
            class="de.uni_stuttgart.iste.cowolf.model.component_diagram.Component_diagramemfPackage"
            genModel="model/componet_diagram.genmodel"/>
   </extension>

</plugin>
