<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         id="ComponentDiagramModelManager"
         point="de.uni_stuttgart.iste.cowolf.model.architectureModelManagerExtension">
      <architectureModelManager
            class="de.uni_stuttgart.iste.cowolf.model.component_diagram.ComponentDiagramModelManager">
      </architectureModelManager>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated component_diagram -->
      <package
            uri="http://component_diagram/1.0"
            class="de.uni_stuttgart.iste.cowolf.model.component_diagram.Component_diagramPackage"
            genModel="model/component_diagram.genmodel"/>
   </extension>

</plugin>
