<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uni_stuttgart.iste.cowolf.transformationMappingExtension">
      <xmlMapping
            file="mapping/ctmcdtmcmapping.transmap"
            key="ctmc_dtmc">
      </xmlMapping>
   </extension>
   <extension
         point="de.uni_stuttgart.iste.cowolf.transformationMappingExtension">
      <xmlMapping
            file="mapping/dtmcctmcmapping.transmap"
            key="dtmc_ctmc">
      </xmlMapping>
   </extension>

</plugin>
