<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uni_stuttgart.iste.cowolf.transformationRuleExtension">
      <direction
            key="ctmc_dtmc">
      </direction>
      <henshinMapping
            file="rules/CTMC_DTMCdiff.henshin"
            main="mainUnit">
      </henshinMapping>
   </extension>
   <extension
         point="de.uni_stuttgart.iste.cowolf.transformationRuleExtension">
      <direction
            key="dtmc_ctmc">
      </direction>
      <henshinMapping
            file="rules/DTMC_CTMCdiff.henshin"
            main="mainUnit">
      </henshinMapping>
   </extension>

</plugin>
