<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.uni_stuttgart.iste.cowolf.ui.category.wizards.main"
            class="de.uni_stuttgart.iste.cowolf.transformation.generator.ui.TransformationMappingWizard"
            icon="src/de/uni_stuttgart/iste/cowolf/transformation/generator/ui/icons/logo_wulf_15x15.png"
            id="de.uni_stuttgart.iste.cowolf.transformation.generator.ui.TransformationMappingWizard"
            name="%wizard.name.3">
      </wizard>
   </extension>

</plugin>
