<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.uni_stuttgart.iste.cowolf.ui.category.wizards.main"
            class="de.uni_stuttgart.iste.cowolf.transformation.generator.ui.TransformationMappingWizard"
            icon="platform:/plugin/de.uni_stuttgart.iste.cowolf.transformation.generator/de/uni_stuttgart/iste/cowolf/transformation/generator/ui/icons/logo_wulf_15x15.png"
            id="de.uni_stuttgart.iste.cowolf.transformation.generator.ui.TransformationMappingWizard"
            name="%Cowolf_Transformation_Mapping_Wizard_Name"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor name="%Cowolf_Transformation_Mapping_Editor_Name" extensions="%Cowolf_Transformation_Mapping_Extension" icon="platform:/plugin/de.uni_stuttgart.iste.cowolf.transformation.generator/de/uni_stuttgart/iste/cowolf/transformation/generator/ui/icons/logo_wulf_15x15.png" class="de.uni_stuttgart.iste.cowolf.transformation.generator.ui.TransformationMappingEditor" id="de.uni_stuttgart.iste.cowolf.transformation.generator.ui.TransformationMappingEditor"> </editor>
   </extension>
   

</plugin>
