<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated statechart -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_stuttgart.iste.cowolf.model.statechart.Statechart.presentation.StatechartemfModelWizardID"
            name="%_UI_StatechartemfModelWizard_label"
            class="de.uni_stuttgart.iste.cowolf.model.statechart.Statechart.presentation.StatechartemfModelWizardExtension"
            category="de.uni_stuttgart.iste.cowolf.ui.category.wizards.main/de.uni_stuttgart.iste.cowolf.ui.category.wizards.models"
            icon="icons/full/obj16/StatechartemfModelFile.gif">
         <description>%_UI_StatechartemfModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated statechart -->
      <editor
            id="de.uni_stuttgart.iste.cowolf.model.statechart.Statechart.presentation.StatechartemfEditorID"
            name="%_UI_StatechartemfEditor_label"
            icon="icons/full/obj16/StatechartemfModelFile.gif"
            extensions="statechartemf"
            class="de.uni_stuttgart.iste.cowolf.model.statechart.Statechart.presentation.StatechartemfEditor"
            contributorClass="de.uni_stuttgart.iste.cowolf.model.statechart.Statechart.presentation.StatechartemfActionBarContributor">
      </editor>
   </extension>

</plugin>
