<!-- 

Copyright 2014, CoWolf Team, ISTE University of Stuttgart 

This logback configuration logs all levels (from TRACE to ERROR). 
The logged entries will be directly printed to console. 

-->
<configuration>

	<!-- <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/> -->		

	<!-- file appender for console log -->
	<appender name="CONSOLE-ALL" class="ch.qos.logback.core.ConsoleAppender">	
		<encoder>
			<pattern>%-13date{HH:mm:ss.SSS} %-6level %-68(%logger{65}:%line) %msg%n</pattern>
		</encoder>
	</appender>

	<!-- file appender for all levels -->
 	<appender name="FILE-ALL"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%-24date %-6level %-46(%logger{40}:%line) %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- weekly rollover -->
			<fileNamePattern>logs/%d{yyyy-'W'ww}.log</fileNamePattern>
			<!-- keep logs for 12 weeks -->
			<maxHistory>12</maxHistory>
		</rollingPolicy>
	</appender>

	<!-- file appender for warnings and errors only -->
<!-- 	<appender name="FILE-WARNING-AND-ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%-24date %-6level %-46(%logger{40}:%line) %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			weekly rollover
			<fileNamePattern>logs/%d{yyyy-'W'ww}_warning+error.log
			</fileNamePattern>
			keep logs for 12 weeks
			<maxHistory>12</maxHistory>
		</rollingPolicy>
	</appender> -->
	
	<root level="TRACE">
	
		<appender-ref ref="CONSOLE-ALL" />		
		<appender-ref ref="FILE-ALL" /> 
		<!--  <appender-ref ref="FILE-FILE-WARNING-AND-ERROR" /> 
		<appender-ref ref="FILE-ERROR" /> -->
		
	</root>

</configuration>