<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="defaultpackage.Activator"
               id="de.uni_stuttgart.iste.cowolf.model.ctmc.sirius.editor"
	       name="CoWolf Graphical CTMC Editor">
    </component>
  </extension>
</plugin>
