<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uni_stuttgart.iste.cowolf.ui.model.qosAnalyzeWizardExtension" name="qosAnalyzeWizardExtension" schema="schema/de.uni_stuttgart.iste.cowolf.ui.model.qosAnalyzeWizardExtension.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.uni_stuttgart.iste.cowolf.ui.mainPage"
            class="de.uni_stuttgart.iste.cowolf.ui.model.preference.ModelPreferencePage"
            id="de.uni_stuttgart.iste.cowolf.ui.model.modelPage"
            name="Models">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="de.uni_stuttgart.iste.cowolf.ui.category.wizards.model"
            name="Models"
            parentCategory="de.uni_stuttgart.iste.cowolf.ui.category.wizards">
      </category>
   </extension>

</plugin>
