# Ignore everything in xtend-gen directory                                                                                                                                                          
/xtend-gen/*
# Except this file
!/xtend-gen/.gitignore
