<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.uni_stuttgart.de/iste/cowolf/model/dtmc/prism/Result" 
       class = "de.uni_stuttgart.iste.cowolf.model.dtmc.prism.result.ResultPackage"
       genModel = "model/generated/Result.genmodel" /> 
	
  </extension>



</plugin>
