<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.sidiff.difference.rulebase.rulebase_extension">
      <rulebase
            rulebase="de.uni_stuttgart.iste.cowolf.evolution.component_diagram.editrules.ProjectRuleBase">
      </rulebase>
   </extension>

</plugin>
