# Ignore everything in xtend-gen directory                                                                                                                                                          
/xtend-gen/*
