<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="statechartModelManager"
         point="de.uni_stuttgart.iste.cowolf.model.architectureModelManagerExtension">
      <architectureModelManager
            class="de.uni_stuttgart.iste.cowolf.model.statechart.StatechartModelManager">
      </architectureModelManager>
   </extension>

</plugin>
