<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="statechartModelManager"
         point="de.uni_stuttgart.iste.cowolf.model.architectureModelManagerExtension">
      <architectureModelManager
            class="de.uni_stuttgart.iste.cowolf.model.statechart.StatechartModelManager">
      </architectureModelManager>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated statechart -->
      <package
            uri="http/Statechart/1.0"
            class="de.uni_stuttgart.iste.cowolf.model.statechart.Statechart.StatechartemfPackage"
            genModel="model/statechart.genmodel"/>
   </extension>

</plugin>