<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- either qos model manager or architecture model manager -->
   <extension
         id="qosModelManager"
         point="de.uni_stuttgart.iste.cowolf.model.qosModelManagerExtension">
      <qosModelManager
            class="de.uni_stuttgart.iste.cowolf.skeleton.model.qosModelManager">
      </qosModelManager>
   </extension>
   
<!-- either qos model manager or architecture model manager -->
   <extension
         id="architectureModelManager"
         point="de.uni_stuttgart.iste.cowolf.model.architectureModelManagerExtension">
      <architectureModelManager
            class="de.uni_stuttgart.iste.cowolf.skeleton.model.architectureModelManager">
      </architectureModelManager>
   </extension>


</plugin>
