<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.uni_stuttgart.iste.cowolf.ui.category.wizards.main"
            name="%category.name">
      </category>
      <category
            id="de.uni_stuttgart.iste.cowolf.ui.category.wizards.models"
            name="Models"
            parentCategory="de.uni_stuttgart.iste.cowolf.ui.category.wizards.main">
      </category>
      <wizard
            category="de.uni_stuttgart.iste.cowolf.ui.category.wizards.main"
            class="de.uni_stuttgart.iste.cowolf.ui.wizards.NewProjectWizard"
            finalPerspective="de.uni_stuttgart.iste.cowolf.ui.perspective"
            icon="icons/logo_wulf_15x15.png"
            id="de.uni_stuttgart.iste.cowolf.ui.wizard.new.custom"
            name="%wizard.name"
            project="true">
      </wizard>
      <wizard
            category="de.uni_stuttgart.iste.cowolf.ui.category.wizards.main"
            class="de.uni_stuttgart.iste.cowolf.ui.wizards.NewFolderWizard"
            icon="icons/logo_wulf_15x15.png"
            id="de.uni_stuttgart.iste.cowolf.ui.wizard.new.folder"
            name="%wizard.name.0">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="de.uni_stuttgart.iste.cowolf.ui.category.wizards"
            name="%category.name.0">
      </category>
      <wizard
            category="de.uni_stuttgart.iste.cowolf.ui.category.wizards"
            class="org.eclipse.ui.wizards.datatransfer.ExternalProjectImportWizard"
            icon="icons/logo_wulf_15x15.png"
            id="de.uni_stuttgart.iste.cowolf.ui.wizard.import"
            name="%wizard.name.1">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="de.uni_stuttgart.iste.cowolf.ui.category.wizards"
            name="%category.name.1">
      </category>
      <wizard
            category="de.uni_stuttgart.iste.cowolf.ui.category.wizards"
            class="org.eclipse.ui.wizards.datatransfer.ZipFileExportWizard"
            icon="icons/logo_wulf_15x15.png"
            id="de.uni_stuttgart.iste.cowolf.ui.wizard.export"
            name="%wizard.name.2">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uni_stuttgart.iste.cowolf.ui.perspectives.Perspective"
            icon="icons/logo_wulf_15x15.png"
            id="de.uni_stuttgart.iste.cowolf.ui.perspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.uni_stuttgart.iste.cowolf.ui.perspective">
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <newWizardShortcut
               id="de.uni_stuttgart.iste.cowolf.ui.wizard.new.custom">
         </newWizardShortcut>
         <newWizardShortcut
               id="de.uni_stuttgart.iste.cowolf.ui.wizard.new.folder">
         </newWizardShortcut>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.75"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="false">
         </view>
         <view
               closeable="true"
               id="org.sidiff.patching.ui.view.OperationExplorerView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               visible="false">
         </view>
         <view
               closeable="true"
               id="org.sidiff.patching.ui.view.ReportView"
               minimized="false"
               relationship="bottom"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="de.uni_stuttgart.iste.cowolf.ui.projectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.uni_stuttgart.iste.cowolf.core.natures.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/C.png"
            id="de.uni_stuttgart.iste.cowolf.ui.natureImage"
            natureId="de.uni_stuttgart.iste.cowolf.ui.projectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.uni_stuttgart.iste.cowolf.ui.preference.MainPreferencePage"
            id="de.uni_stuttgart.iste.cowolf.ui.mainPage"
            name="CoWolf">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.uni_stuttgart.iste.cowolf.ui.console.RegisterConsolePrinter">
      </startup>
   </extension>
   <extension
         id="de.uni_stuttgart.iste.cowolf.ui.navigator.commands"
         name="%extension.name"
         point="org.eclipse.ui.commands">
      <command
            id="de.uni_stuttgart.iste.cowolf.ui.modelassociation.CreateVersion"
            name="Create Version">
      </command>
      <command
            id="de.uni_stuttgart.iste.cowolf.ui.modelassociation.RevertVersion"
            name="Revert Version">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.uni_stuttgart.iste.cowolf.ui.modelassociation.VersionRevert"
            commandId="de.uni_stuttgart.iste.cowolf.ui.modelassociation.RevertVersion">
         <enabledWhen>
            <and>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
               <test
                     forcePluginActivation="true"
                     property="de.uni_stuttgart.iste.cowolf.ui.modelassociation.props.canFoo">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="de.uni_stuttgart.iste.cowolf.ui.modelassociation.VersionCreate"
            commandId="de.uni_stuttgart.iste.cowolf.ui.modelassociation.CreateVersion">
         <enabledWhen>
            <and>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
               <test
                     forcePluginActivation="true"
                     property="de.uni_stuttgart.iste.cowolf.ui.modelassociation.props.canFoo">
               </test>
            </and>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.uni_stuttgart.iste.cowolf.ui.modelassociation.MAPropertyTester"
            id="de.uni_stuttgart.iste.cowolf.ui.modelassociation.props"
            namespace="de.uni_stuttgart.iste.cowolf.ui.modelassociation.props"
            properties="canFoo"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
