<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.uni_stuttgart.iste.cowolf.ui.category.wizards"
            name="CoWolf">
      </category>
      <wizard
            category="de.uni_stuttgart.iste.cowolf.ui.category.wizards"
            class="de.uni_stuttgart.iste.cowolf.ui.wizards.CustomNewProjectWizard"
            finalPerspective="de.uni_stuttgart.iste.cowolf.ui.perspective"
            icon="src/de/uni_stuttgart/iste/cowolf/ui/icons/logo_wulf_15x15.png"
            id="CoWolfPlugin.wizard.new.custom"
            name="CoWolf Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uni_stuttgart.iste.cowolf.ui.perspectives.Perspective"
            icon="src/de/uni_stuttgart/iste/cowolf/ui/icons/logo_wulf_15x15.png"
            id="de.uni_stuttgart.iste.cowolf.ui.perspective"
            name="CoWolf perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.uni_stuttgart.iste.cowolf.ui.perspective">
         <view
               id="de.uni_stuttgart.iste.cowolf.ui.navigator"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="de.uni_stuttgart.iste.cowolf.ui.projectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.uni_stuttgart.iste.cowolf.ui.natures.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="src/de/uni/stuttgart/informatik/iste/cowolf/icons/logo_wulf_15x15.png"
            id="de.uni_stuttgart.iste.cowolf.ui.natureImage"
            natureId="de.uni_stuttgart.iste.cowolf.ui.projectNature">
      </image>
   </extension>
</plugin>