<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="DTMCModelManager"
         point="de.uni_stuttgart.iste.cowolf.model.QoSModelManagerExtension">
      <QoSModelManager
            class="de.uni_stuttgart.iste.cowolf.model.dtmc.DTMCModelManager">
      </QoSModelManager>
   </extension>

</plugin>
