<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="dtmcModelManager"
         point="de.uni_stuttgart.iste.cowolf.model.qosModelManagerExtension">
      <qosModelManager
            class="de.uni_stuttgart.iste.cowolf.model.dtmc.DTMCModelManager">
      </qosModelManager>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DTMC -->
      <package
            uri="http://dtmc/1.0"
            class="de.uni_stuttgart.iste.cowolf.model.dtmc.DTMCPackage"
            genModel="model/DTMC.genmodel"/>
   </extension>

</plugin>
