<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.uni_stuttgart.iste.cowolf.ui.model.modelPage"
            class="de.uni_stuttgart.iste.cowolf.ui.model.dtmc.preference.DTMCPreferencePage"
            id="de.uni_stuttgart.iste.cowolf.ui.model.dtmc.dtmcPage"
            name="DTMC">
      </page>
   </extension>
   <extension
         point="de.uni_stuttgart.iste.cowolf.ui.model.qosAnalyzeWizardExtension">
      <qosAnalyzeWizard
            class="de.uni_stuttgart.iste.cowolf.ui.model.dtmc.analyze.DTMCAnalyzeWizard">
      </qosAnalyzeWizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="de.uni_stuttgart.iste.cowolf.ui.category.wizards/de.uni_stuttgart.iste.cowolf.ui.category.wizards.model"
            class="de.uni_stuttgart.iste.cowolf.ui.model.dtmc.export.DtmcPrismExportWizard"
            icon="icons/logo_wulf_15x15.png"
            id="de.uni_stuttgart.iste.cowolf.ui.model.dtmc.prism"
            name="DTMC to PRISM">
      </wizard>
   </extension>

</plugin>
