<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.uni_stuttgart.iste.cowolf.ui.model.modelPage"
            class="de.uni_stuttgart.iste.cowolf.ui.model.lqn.preferences.LQNPreferencePage"
            id="de.uni_stuttgart.iste.cowolf.ui.model.lqn.preferences.LQNPreferencePage"
            name="LQN Preferences">
      </page>
   </extension>
   <extension
         point="de.uni_stuttgart.iste.cowolf.ui.model.qosAnalyzeWizardExtension">
     <qosAnalyzeWizard
            class="de.uni_stuttgart.iste.cowolf.ui.model.lqn.analyze.LQNAnalyzeWizard">
     </qosAnalyzeWizard>
   </extension>

</plugin>
