# Ignore everything in xtend-gen directory                                                                                                                                                          
*
# Except this file
!.gitignore
