<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.uni_stuttgart.iste.cowolf.ui.model.modelPage"
            class="de.uni_stuttgart.iste.cowolf.ui.model.ctmc.preference.CTMCPreferencePage"
            id="de.uni_stuttgart.iste.cowolf.ui.model.ctmc.ctmcPage"
            name="CTMC">
      </page>
   </extension>
   <extension
         point="de.uni_stuttgart.iste.cowolf.ui.model.qosAnalyzeWizardExtension">
      <qosAnalyzeWizard
            class="de.uni_stuttgart.iste.cowolf.ui.model.ctmc.analyze.CTMCAnalyzeWizard">
      </qosAnalyzeWizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="de.uni_stuttgart.iste.cowolf.ui.category.wizards/de.uni_stuttgart.iste.cowolf.ui.category.wizards.model"
            class="de.uni_stuttgart.iste.cowolf.ui.model.ctmc.export.CtmcPrismExportWizard"
            icon="icons/logo_wulf_15x15.png"
            id="de.uni_stuttgart.iste.cowolf.ui.model.ctmc.prism"
            name="CTMC to PRISM">
      </wizard>
   </extension>

</plugin>
