<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated DTMCemf -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_stuttgart.iste.cowolf.model.dtmc.emf.presentation.DTMCemfModelWizardID"
            name="%_UI_DTMCemfModelWizard_label"
            class="de.uni_stuttgart.iste.cowolf.model.dtmc.emf.presentation.DTMCemfModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DTMCemfModelFile.gif">
         <description>%_UI_DTMCemfModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated DTMCemf -->
      <editor
            id="de.uni_stuttgart.iste.cowolf.model.dtmc.emf.presentation.DTMCemfEditorID"
            name="%_UI_DTMCemfEditor_label"
            icon="icons/full/obj16/DTMCemfModelFile.gif"
            extensions="dtmcemf"
            class="de.uni_stuttgart.iste.cowolf.model.dtmc.emf.presentation.DTMCemfEditor"
            contributorClass="de.uni_stuttgart.iste.cowolf.model.dtmc.emf.presentation.DTMCemfActionBarContributor">
      </editor>
   </extension>

</plugin>
