<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
   	  <!-- @generated NOT DTMC -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_stuttgart.iste.cowolf.model.dtmc.emf.presentation.DTMCModelWizardID"
            name="%_UI_DTMCModelWizard_label"
            class="de.uni_stuttgart.iste.cowolf.model.dtmc.emf.presentation.DTMCModelWizard"
            category="de.uni_stuttgart.iste.cowolf.ui.category.wizards.main/de.uni_stuttgart.iste.cowolf.ui.category.wizards.models"
            icon="icons/full/obj16/DTMCemfModelFile.gif">
         <description>%_UI_DTMCModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated NOT DTMC -->
      <editor
            id="de.uni_stuttgart.iste.cowolf.model.dtmc.emf.presentation.DTMCEditorID"
            name="%_UI_DTMCEditor_label"
            icon="icons/full/obj16/DTMCModelFile.gif"
            extensions="dtmc"
            class="de.uni_stuttgart.iste.cowolf.model.dtmc.emf.presentation.DTMCEditor"
            contributorClass="de.uni_stuttgart.iste.cowolf.model.dtmc.emf.presentation.DTMCActionBarContributor">
      </editor>
   </extension>

</plugin>
